.FilterForm {
  position: fixed !important;
  top: 80px;
  bottom: 0;
  padding: 20px;
  box-shadow: 1px 1px 10px #ddd;
  overflow: auto;
  width: 25%;
}

.FilterForm__InputRange {
  padding: 15px;
}

.FilterForm__InputRange h5 {
  margin-bottom: 20px;
  margin-left: -15px;
}

.sidebar-widget {
  margin-bottom: 10px !important;
}

select {
  padding: 15px !important;
  line-height: 14px !important;
  width: 100%;
}

.FilterForm__BtnClearFilters {
  margin-bottom: 30px !important;
}

.FilterForm__KeywordsInput {
  font-size: 17px;
}

.FilterForm__BtnClearKeywords {
  background-color: rgba(0,0,0,0);
  border: 0 none;
  color: #8d8d8d;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-family: "FontAwesome",sans-serif;
  margin: 0;
  outline: 0 none;
  white-space: nowrap;
  padding: 0 3px;
  text-decoration: none;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
