.CreateNewProductPage {
  padding-top: 100px;
}

.CreateNewProductPage__ImagePreviewContainer {
  padding: 0 20px 20px 20px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.CreateNewProductPage__ImagePreview {
  width: 20%;
  margin-right: 20px;
  position: relative;
  margin-top: 20px;
}

.CreateNewProductPage__DropZoneInstructions {
  padding: 10px;
}

.CreateNewProductPage__RemoveImageBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #e20c0c;
  padding: 5px 6px 8px 6px;
  font-size: 31px;
  line-height: 15px;
  color: white;
  border-radius: 50%;
}

.CreateNewProductPage__FileDropZone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: red;
}

.CreateNewProductPage__BtnFlagAsVisibileOnWebsite {
  position: absolute;
  top: -10px;
  right: 20px;
  background: #e20c0c;
  padding: 5px 6px 8px 6px;
  font-size: 16px;
  line-height: 15px;
  color: white;
  border-radius: 50%;
}

.CreateNewProductPage__BtnFlagAsVisibileOnWebsite--visible {
  background: green;
}

.CreateNewProductPage__FormRow {
  padding: 20px 50px;
}

.CreateNewProductPage__FormRow--first {
  border-top: 2px dashed black;
  margin-top: 50px;
}

.CreateNewProductPage__SubmitContainer {
  margin: 20px 0 100px 0;
  text-align: center;
}

.CreateNewProductPage__SubmitBtn {
  background: black;
  color: white;
  padding: 15px 30px;
  width: 200px;
  font-size: 1.2em;
}
