.Product {
  border: 1px solid #e8dfcd;
  border-top: 2px solid #c2a661;
  padding: 10px 5px;
  width: 300px;
  height: 270px;
  margin: 5px;
  flex: 1 1 auto;
  max-width: 25%;
}

.Product:hover,
.Product:hover .Product__Image {
  background-color: rgba(194, 166, 97, .15);
}

.Product__Image {
  width: 100%;
  height: 200px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 10px 0px #ccc;
}

.Product__Name {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}
