.ProductDetailPage {
  padding-top: 100px;
}

.ProductDetailPage__BigImage {
  border: 1px solid #ccc;
  padding: 30px;
}

.ProductDetailPage__btn-back {
  margin-top: 30px;
}

.ProductTable {
  font-size: 1.1em;
}

.ProductTable__FirstCol {
  text-transform: capitalize;
  width: 35%;
}

tr:nth-child(even) {background: #dedede}

.ProductDetailPage__Loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ProductDetailPage__Loading p {
  font-size: 22px;
  margin-top: 30px;
}

.ProductDetailPage__ThumbsContainer {
  margin-top: 20px;
}

.ProductDetailPage__Thumb {
  display: inline-block;
  width: 100%;
  height: auto;
  border: none;
  margin: 0;
  padding: 0;
}

.ProductDetailPage__Thumb--selected {
  box-shadow: 0 0 15px 1px #979797
}

.ProductTable__Heading {
  text-transform: capitalize;
}

.ProductTable__FirstCol {
  font-weight: bold;
  text-transform: uppercase;
}

.ProductTable__RelatedPhoto {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.table-hover.ProductTable > tbody > tr:hover {
  background-color: rgba(255, 187, 8, 0.67);
}
