.SearchView__LoadingOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
  background: rgba(100,149,237,.8);
  color: white;
  font-size: 17px;
  text-align: center;
  box-shadow: 0px 2px 15px 1px rgba(138,138,138,1);
}

.SearchView__LoadingOverlay__Label {
  vertical-align: middle;
  margin-left: 10px;
}

.SearchView__NoResults {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.ProductList {
  position: fixed !important;
  right: 0;
  bottom: 0;
  overflow: auto;
  top: 80px;
  left: 25%;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}

.ProductList__Loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.ProductList__Loading p {
  font-size: 22px;
}
